@charset "UTF-8";


.main_top{
	text-align: center;
	margin: 100px 0px 30px 0px;
}


.main_select{
	
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 250px;
}

.main_Pname{
	
	font-size: 18px;
	font-weight: bold;
	
}

.main_Price{
	font-size: 16px;
	font-weight: 600;
}

.main_Pdetails{
	font-size: 14px;
	font-weight: 500;
	color: gray;
	line-height: 10px;
}

#card-img{
	height: 200px;
}

#card-main{
	margin: 50px 0px 200px 0px;
}