@charset "UTF-8";


.main_top{
	text-align: center;
	margin: 100px 0px 30px 0px;
}


.main_select{
	
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 250px;
}

.main_Pname{
	
	font-size: 18px;
	font-weight: bold;
	
}

.main_Price{
	font-size: 16px;
	font-weight: 600;
}

.main_Pdetails{
	font-size: 14px;
	font-weight: 500;
	color: gray;
	line-height: 10px;
}

#card-img{
	height: 200px;
}

#card_text_box{
	height: 150px;
}


#card-main{
	margin: 50px 0px 200px 0px;
}

#categoryList {
	float: left;
	margin: 0px 0px 0px 50px;
}

#categoryList a {
	text-decoration: none;
	color: #FFFFFF;
}

#categoryList ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: center;
}

#categoryList ul li a {
	text-decoration: none;
	display: block;
	width: 150px;
	height: 35px;
	line-height: 35px;
}

#categoryList li {
	width: 150px;
	background-color: #007DFF;
}

#categoryList ul li:hover {
	background-color: #0064D7;
}

#categoryList ul ul {
	display: none;
	position: absolute;
	left: 150px;
}

#categoryList ul li:hover>ul {
	display: block;
	margin: -35px 0px 0px 0px;
}