@charset "UTF-8";
@import url("notice_default.css?1");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@700&family=Nanum+Gothic:wght@700&display=swap');

#main th{
	padding-bottom: 14px;
	font-size:18px;
}

#main .notice_title {
	padding-left: 20px;
	padding-right: 250px;
}

#main .notice_main td:first-child:hover {
	color: #ff6f28;
	cursor: pointer;
	text-decoration: underline;
}

#main tr th:first-child {
	padding-left: 416px;
}

.content {
	white-space: pre-wrap; /* CSS3*/
	word-wrap: break-all; /* Internet Explorer 5.5+ */
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
}

.inquiry_btn {
	padding-left: 89.5%;	
}

.inquiry_empty {
	height: 250px;
	text-align: center;
	padding-top: 10%;
	font-family: 'Gothic A1', sans-serif;
	font-size: 19px;
}

.replyRow {
	display: none;
}

.reply_img_content {
	display: flex;
	height: auto;
	margin-bottom: 50px;
}

.reply_content {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 15px;
	padding-top: 2px;
}

.reply_admin {
	margin-top: 50px;
	height: auto;
}

.reply_btn {
	text-align: right;
}

.reply_btn input[type=button]{
    border: none;
    font-size: 14px;
    color: #757575;
}

.reply_btn input[type=button]:hover{
    border: none;
    font-size: 16px;
   	color: #474747;
}

.icon-help {
	color: #400080; 
    font-size: 24px;
    margin-left: -5px;
    margin-top: -7px;
}

.icon-wechat {
	color: #c66300; 
    font-size: 22px;
    margin-left: -5px;
    margin-top: -7px;
    width: 36px;
}

.reply_main {
	padding: 20px 20px 30px;
    background-color: #eeeeee;
	height: auto;
}

.notice_head {
	pointer-events: none; 
}

.reply_date_dbtn{
	display: flex;
	
}
	
	.reply_date_dbtn > .reply_content{
		width: 95%;	
	}

.reply_area{
	display: none;
	text-align: right;
}	

	.reply_area .area {
		margin-top: 20px;
		width: 100%;
		height: 30em;
		border: 1px solid #b8a5c0;
		border-radius: 7px;
		background: #f9f9f9;
	}
	
	.reply_area .area:focus {
		outline: 1px solid #a088aa;
	}
	
	.reply_area .reply_ok_btn {
		border: 1px solid #474747;
		border-radius: 4px;
	    font-size: 14px;
	    color: #474747;
	}
	
	.reply_area .reply_ok_btn:hover{
		border: 1px solid #a088aa;
		border-radius: 4px;
		font-size: 14px;
		color: #a088aa;
	}