@charset "UTF-8";
@import url("notice_default.css");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Nanum+Gothic:wght@700&display=swap');

#main th{
	padding-bottom: 14px;
	font-size:18px;
}

#main .notice_title {
	padding-left: 20px;
	padding-right: 250px;
}

#main .notice_main td:first-child:hover {
	color: #ff6f28;
	cursor: pointer;
	text-decoration: underline;
}

#main tr th:first-child {
	padding-left: 416px;
}

.inquiry_btn {
	padding-left: 89.5%;	
}

.inquiry_empty {
	height: 250px;
	text-align: center;
	padding-top: 10%;
	font-family: 'Gothic A1', sans-serif;
	font-size: 19px;
}

.replyRow {
	display: none;
}

.reply_img_content {
	display: flex;
	height: auto;
	margin-bottom: 50px;
}

.reply_content {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	padding-top: 2px;
}

.reply_admin {
	margin-top: 50px;
	height: auto;
}

.reply_btn {
	text-align: right;
}

.reply_btn input[type=button]{
    border: none;
    font-size: 14px;
    color: #757575;
}

.reply_btn input[type=button]:hover{
    border: none;
    font-size: 16px;
   	color: #474747;
}

.icon-help {
	color: #400080; 
    font-size: 24px;
    margin-left: -5px;
    margin-top: -7px;
}

.icon-wechat {
	color: #c66300; 
    font-size: 22px;
    margin-left: -5px;
    margin-top: -7px;
    width: 36px;
}

.reply_main {
	padding: 20px 20px 30px;
    background-color: #eeeeee;
	height: auto;
}

.notice_head {
	pointer-events: none; 
}
