@charset "UTF-8";
@import url("notice_default.css?2");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@700&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR&display=swap');

.notice_header {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	text-align: center;
}

	.notice_header > h2 {
		font-family: 'Do Hyeon', sans-serif;
		font-size: 50px;
	}
	
	.notice_header > p {
		font-family: noto sans;
		color: #999;
		line-height: 20px;
		letter-spacing: -.3px;
	}
	
.notice_table {
	border: 3px solid #999;
	width: 100%;
	border-left: none;
	border-right: none;
}	

.notice_table th {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
	color: #331232;
	padding: 13px 0 13px 20px;
    background-color: #f0ecf2;
	width: 13%;
}	

.notice_table td {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
	color: #331232;
	padding: 13px 0 13px 20px;
}	

.notice_list_btn {
	margin-top: 100px;
	margin-right: 10px;
	width: 150px;
	line-height: 40px;
	background-color: #e0d8e4;
	color: #636363;
	border: 1px solid #baa9c2;
}

.notice_list_btn:hover {
	margin-top: 100px;
	margin-right: 10px;
	width: 150px;
	line-height: 40px;
	background-color: #b8a5c0;
	color: #ffffff;
	border: 1px solid #baa9c2;
}

.pre_post_content {
	border: 3px solid #999;
	width: 100%;
	border-left: none;
	border-right: none;	
	border-top: none;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
}

.pre_post_content th {
	width: 10%;
	padding: 10px 0px 10px 15px;
}

.content {
	white-space: pre-wrap; /* CSS3*/
	word-wrap: break-all; /* Internet Explorer 5.5+ */
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
}

.content_area {
	width: 100%;
	height: 800px;
	border: 1px solid #b8a5c0;
	border-radius: 7px;
	
}

.content_area:focus {
	width: 100%;
	height: 800px;
	outline: 1px solid #a088aa;
	border-radius: 7px;
}

.content_title {
	border: 1px solid #b8a5c0;
	border-radius: 7px;
}

.content_title:focus {
	outline: 1px solid #a088aa;
	border-radius: 7px;
}