@charset "UTF-8";
@import url("notice_default.css");

#main th {
	padding-bottom: 14px;
	font-size:18px;
}

#main .notice_title {
	padding-right: 200px;
}

#search .search_table {
	margin-left: 62%;
	font-family: 'Do Hyeon', sans-serif;
}

#search .search_group {
	padding-bottom: 15px;
}

#main .table_content a:hover {
	color: #ff6f28;
	cursor: pointer;
	text-decoration: underline;
}